@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,500;1,700&display=swap');

*{

    font-family: 'Ubuntu', sans-serif;
}

.container{
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.google-btn{
    background-color: #1A73E8;
    border: none;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px; 
}
.google-btn:hover{
    opacity: 0.6;
    cursor: pointer;
}

.google-btn picture{
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-btn span{
    color: white;
    font-weight: 500;
    padding: 15px;

}
.botones{
    align-self: flex-start; /*Afecto solo a este elemento el resto no cuando son flex*/
    display: flex;
    gap: 20px;
}
.google-btn picture img{
    width: 100%;
}
.twitter-btn{
    color: #ccc;
    background-color: #eee;
    border: none;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.twitter-btn:hover{
    background-color: #ddd;
}