@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,500;1,700&display=swap');

*{

    font-family: 'Ubuntu', sans-serif;
}

.container{
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.google-btn{
    background-color: #1A73E8;
    border: none;
    border-radius: 5px;
    height: 40px;
    display: flex;
}
.google-btn picture{
    width: 30px;
    height: 30px;
    background-color: white;

}

.google-btn span{
    color: white;
    font-weight: 500;
    padding: 15px;

}