/*Conocer mas de FLEX-BOX 
https://codepen.io/enxaneta/full/adLPwv
*/

.contenedor{
    background-color: yellow;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    min-height: 5rem;
    /*El Eje principal  que es en fila "row" utiliza el justify-content*/
    justify-content: space-around;

    /*El Eje Secundario que es la clumna "column" utiliza el align-items: center;*/
    /* align-items: baseline; */
    align-items: center;


     /* flex-direction: column; */

     flex-wrap: wrap; /* Agrupa los elementos segun el tamaño de pantalla*/
     
}
.item{
    background-color: salmon;
    padding: 0.25rem;
    width: 10rem; /*La unidad rem es la mas recomenda para ajustar el diseño responsive*/
}

.item2{
    align-self: stretch;  /*Lo distingue del restoi de elementos con align-self*/

    
}