
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn-modem:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px 2px black;
    transform: translateY(-5px);
    background-color: aqua;
    color: black;
    transition: 0.4s;
}

.btn-modem{
    background-color: cornflowerblue;
    color: #ddd;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 24px;

}